.text-animation{
    animation-name: cat;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    
}

@keyframes cat {
    0%{
        font-size: 50px;
        color: black;
        background-color:bisque;
        padding:40px;
    }
    
    90%{
        color:orange;
    }
    
    100%{
        color:black;
    }
}

.animated-bg{
    background-color:bisque;
}

.first-gradient{
    background-image: linear-gradient(to right, #F8CCFB, #ACD2FD);
}
.second-gradient{
    background-image: linear-gradient(to right, #FFF9F4, #F9DF8A);
}